footer hr{
  margin-top: 0px;
  padding-top: 0px;
}
.footer-options ul{
  clear: both;
  padding: 0px;
  margin: 0px;
}
.footer-options ul li{
  float:left;
  list-style: none;
  padding: 5px;
  font-size: 12px;
}
.footer-options ul li a{
  text-decoration: none;
  color: #000;
}
.copyrights{
  margin-top: 25px;
}
