<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: saddlebrown" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="index.html">LiverBIRD's Blog</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"
             [routerLink]="['/blogs']"
          routerLinkActive="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
          [routerLink]="['/blogs/new']"
          routerLinkActive="true">Publish</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/blogs']"
             routerLinkActive="{exact:true}"
            class="nav-link">Blogs List</a>
        </li>
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="contact.html">Contact me</a>-->
        <!--</li>-->
        <li class="nav-item">
          <a *ngIf="!userService.isAuthenticated()" [routerLink]="['user/login']"
             class="nav-link">Login</a>
          <a *ngIf="userService.isAuthenticated()" [routerLink]="['user/profile']"
          class="nav-link">Welcome {{userService.currentUser.firstName}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
