<div class="col-xs-1 center-block text-center" >

  <img [src]="event?.logo" [alt]="event?.title" width="200px" height="200px">

  <div class="row text-center">
    <div class="col-md-11">
      <h2>{{event?.title}} </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11">
      <h4>{{event?.authorName}} </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-11">
      <h5>{{event?.post}} </h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-11">
      <h4>{{event?.category}} </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Date:</strong> {{event?.date}}</div>
    </div>

      <input type="button" class="btn btn-danger" value="Delete" (click)="deleteBlog()"/>
      <input type="button" class="btn btn-primary" value="Back" (click)="backBlog()"/>
  </div>

</div>
